* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.a2 {
  padding: 40px 80px;
}

#a1 {
  text-align: center;
}

.a3 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #1a1a1a;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.pro:hover {
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

.pro img {
  width: 100%;
  border-radius: 20px;
}

.pro .des {
  text-align: start;
  padding: 10px 0;
}

.pro .des span {
  color: #606063;
  font-size: 12px;
}

.pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25)
}

span {
  font-size: 20px;
  color: red;
}

nav{
  font-family: 'Poppins',sans-serif;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 15px;
  background-color: #1a1a1a;

}
a{
  color: rgb(255, 255, 255);
  padding: 60px;
  padding-left: 2px;
  padding-top: 10px; 
}